* {
	--background: #2b2b2b;
	--couleur-case: #0077c7;
}

html {
	background-color: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: white;
	text-align: center;
	font-size: 4rem;
}

.grilleContainer {
	margin-top: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grilleContainer .row {
	display: flex;
}

.grilleContainer .box {
	border: 1px solid white;
	height: 4rem;
	width: 4rem;
	background-color: var(--couleur-case);
}

.keyboard {
	margin-top: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.keyRows {
	display: flex;
	gap: 0.8rem;
}

.key {
	height: 3vh;
	min-width: 3vw;
	border: 1px solid white;
	color: white;
	font-size: 1.6rem;
	display: flex;
	padding: 0.6rem;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-family: monospace;
}

.key.wrong {
	background-color: red;
}

.key.right {
	background-color: green;
}

.key.wrongLocation {
	background-color: goldenrod;
}

.box[data-state="active"] {
	background-color: rgb(86, 145, 255);
}

.box[data-state="wrong"] {
	background-color: red;
}

.box[data-state="wrongLocation"] {
	background-color: goldenrod;
}

.box[data-state="right"] {
	background-color: green;
}
.clicked {
	background-color: white;
	color: var(--background);
}

.box {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 2rem;
	transition: transform 250ms linear;
}

.box.dance {
	animation: dance 500ms ease-in-out;
}

@keyframes dance {
	20% {
		transform: translateY(-50%);
	}
	40% {
		transform: translateY(5%);
	}
	60% {
		transform: translateY(-25%);
	}
	80% {
		transform: translateY(2.5%);
	}
	90% {
		transform: translateY(-5%);
	}
	100% {
		transform: translateY(0%);
	}
}

.box.shake {
	animation: shake 250ms ease-in-out;
}

@keyframes shake {
	10% {
		transform: translateX(-5%);
	}
	30% {
		transform: translateX(5%);
	}
	50% {
		transform: translateX(-7.5%);
	}
	70% {
		transform: translateX(7.5%);
	}
	90% {
		transform: translateX(-5%);
	}
	100% {
		transform: translateX(0);
	}
}

.box.flip {
	transform: rotateX(90deg);
}

.alertContainer {
	position: fixed;
	top: 15vh;
	left: 50vw;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}

.alert {
	pointer-events: none;
	background-color: royalblue;
	color: white;
	font-weight: bold;
	padding: 0.75rem;
	border-radius: 0.25em;
	opacity: 1;
	transition: opacity 500ms ease-in-out;
	margin-bottom: 0.5em;
}

.alert:last-child {
	margin-bottom: 0;
}

.alert.hide {
	opacity: 0;
}
