html {
	background-color: #2b2b2b;
	--couleur-case: #0077c7;
}

h1 {
	color: white;
	text-align: center;
}

.grilleContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grilleContainer .row {
	display: flex;
}

.grilleContainer .box {
	border: 1px solid white;
	height: 4rem;
	width: 4rem;
	background-color: var(--couleur-case);
}

.keyboard {
	margin-top: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.keyRows {
	display: flex;
	gap: 0.8rem;
}

.key {
	height: 3vh;
	width: 3vw;
	border: 2px solid white;
	color: white;
	font-size: 1.6rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 2rem;
}
